body {
    background: linear-gradient(to left, rgba(255, 0, 0, 0.616), rgba(255, 255, 255, 0.562));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
}
